h1.Title {
background-color: white;
color: black;
font-weight: bold;
size: 14pt
}

.Docstring {
background-color: #ffc8d8
}

.Comment {
background-color: #c0ffc0
}

.License {
background-color: #ffffc8;
font-size: 9pt;
width: 100%;
align: center
}

.Usage {
background-color: #000000;
color: #ffffff;
font-size: 10pt;
padding: 4pt;
width: 100%
}

/* Common styles for values, input and errors */

.Value {
color: green;
margin: 1pt;
padding: 0pt
}

.Input {
color: black;
margin: 0pt;
padding: 0pt
}

.Error {
color: red;
background-color: white;
margin: 2pt;
padding: 0pt
}

/* Style for stdout text */

.stdout {
color: blue;
font-family: monospace;
margin: 1pt;
padding: 0pt
}

/* Style for stderr text */

.stderr {
color: red;
font-family: monospace;
margin: 1pt;
padding: 0pt
}

/* Headings in tables of the Dictionary class have white backgrounds. */

table.Dictionary th {
background-color: white
}

/* Cells in tables of the List class have silver backgrounds. */

table.List td {
background-color: silver
}

/* File and module styles */

.File {
color: blue;
font-style: italic
}

.Module {
color: blue;
font-weight: bold
}

/* Domain specific styles */

/* compiler.ast.Module */

table.ast_Module td.Doc {
color: #5599ff;
background-color: navy
}

table.ast_Module td {
color: black;
background-color: white
}

/* compiler.ast.Stmt */

table.ast_Stmt th {
color: red;
background-color: white
}

table.ast_Stmt td.LineNo {
color: black;
background-color: #5599ff
}

table.ast_Stmt td {
color: black;
background-color: white
}

table.ast_If td {
color: black;
background-color: white
}

.ast_Const {
color: red;
background-color: white;
font-weight: bold
}

/* Define the default background colour for the BODY tag and hence the page. */

body {
background-color: #e0e0e0
}
